@mixin btn {
  $size: 25px;
  font-size: em($size);
  border-radius: em(100px, $size);
  display: inline-block;
  padding: em(13px, $size) em(40px, $size)
}



/* Заполненная кнопка с градиентом */
.btn-fill {
  @include btn;
  background-image: linear-gradient(128deg, #934ad2, #552586);
  outline: none;
  color: white;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    z-index: -1;
    //margin: em(-2px);
    border-radius: inherit;
    background: linear-gradient(128deg, #934ad2, #552586);
  }
  &:hover {
    background: white;
    color: #341c59;
    text-decoration: none;
  }
}




