/* инпут с круглой рамкой как в хэдере */
.round-input {
  display: block;
  position: relative;
  background: linear-gradient(128deg, #934ad2, #552586);
  border-radius: em(100px);
  padding: 2px;
  &__field {
    $size: 18px;
    font-size: $size;
    width: 100%;
    height: 100%;
    border: none;
    padding: em(18px, $size) em(30px, $size);
    border-radius: em(100px, $size);
    outline: none;
    background: $white;
    font-family: Ubuntu;
    color: #8e8e90;
  }
  &__btn {
    position: absolute;
    height: 100%;
    width: em(60px);
    border: none;
    border-radius: em(100px);
    outline: none;
    background: none;
    right: 0;
    top: 0;
    &:focus {
      outline: none;
    }
    &:after {
      content: '';
      position: absolute;
      width: em(28px);
      height: em(28px);
      background: url("../icons/search.png") no-repeat;
      background-size: contain;
      right: em(20px);
      top: 50%;
      margin-top: em(-15px);
    }
  }
}