html, body {
  font-size: 16px;
  font-family: 'Gotham Pro';
  background-color: $white;
  color: $black;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: $black;
  &:hover {
    color: $black;
    text-decoration: none;
  }
}

input {
  outline: none;
}