.catalogs {
  position: relative;
  //z-index: 0;
  //overflow: hidden;
  //&:after {
  //  opacity: 0.2;
  //  content: '';
  //  position: absolute;
  //  width: em(1000px);
  //  height: em(950px);
  //  z-index: -1;
  //  background: url("../img/engine.gif") no-repeat;
  //  background-position: center;
  //  background-size: contain;
  //  top: 0;
  //  right: -50%;
  //  display: block;
  //}
  &__title {
    $size: 36px;
    font-size: $size;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: em(30px, $size);
  }
}

.cat-list {
  margin-top: em(40px);
  margin-bottom: em(40px);
  &__item {
    padding: em(40px) em(20px);
    background: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: em(50px);
    box-shadow: 6.4px 10.2px 24.6px 2.4px rgba(55, 55, 58, 0);
    background-color: rgba(255, 255, 255, 0);
    transition: box-shadow 0.2s ease-out, background-color 0.2s ease-out;
    &:hover {
      box-shadow: 6.4px 10.2px 24.6px 2.4px rgba(55, 55, 58, 0.03);
      background-color: rgba(255, 255, 255, 1);
    }
  }
  &__img {
    display: flex;
    max-height: em(246px);
    max-width: 100%;
  }
  &__title {
    $size: 30px;
    font-size: em($size);
    font-family: 'Gotham Pro';
    text-align: center;
    font-weight: normal;
    margin-top: em(35px, $size);
  }
}