.btn-fill{font-size:em(25px);border-radius:em(100px, 25px);display:inline-block;padding:em(13px, 25px) em(40px, 25px);background-image:linear-gradient(128deg, #934ad2, #552586);outline:none;color:white;position:relative}.btn-fill:after{content:'';position:absolute;top:-2px;bottom:-2px;left:-2px;right:-2px;z-index:-1;border-radius:inherit;background:linear-gradient(128deg, #934ad2, #552586)}.btn-fill:hover{background:white;color:#341c59;text-decoration:none}
