.call {
  position: fixed;
  display: flex;
  bottom: em(50px);
  right: em(90px);
  height: em(84px);
  width: em(84px);
  border-radius: 100%;
  background-image: linear-gradient(128deg, #934ad2, #552586);
  box-shadow: 0px 12px 24.6px 2.4px rgba(21, 6, 59, 0.11);
  justify-content: center;
  align-items: center;
  z-index: 2000;
  transition: transform 0.2s ease-out;
  &:hover {
    cursor: pointer;
    transform: translateY(-5px);
  }
  &__icon {
    width: em(39px);
    height: em(38px);
    transform: rotate(90deg);
  }
}