.footer {
  padding-bottom: em(40px);
}

.social-icons {
  display: flex;
  opacity: 0.8;
  &__item {
    padding: em(10px) em(3px);
  }
  &__img {
    display: block;
    width: em(39px);
    height: em(39px);
  }
}