.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding-top: em(37px);

  &.header_scroll {
    background: $white;
    padding-top: em(7px);
    position: fixed;
    box-shadow: 0 2.2px 9.6px 2.4px rgba(55,55,58,0.05);
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__search {
    margin: 0 em(20px);
    flex-grow: 1;
    max-width: em(670px);
  }
  &__input {
    width: 100%;
  }
  &__contacts {
  }
  &__phone {
    display: block;
    width: 100%;
    font-family: Ubuntu;
    font-weight: bold;
    color: $black;
    font-size: em(22px);
    line-height: em(19px);
  }
  &__email {
    width: 100%;
    font-size: em(18px);
  }

  &__menu {
    width: 100%;
  }
}

