#app {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
}
.content {
  flex: 1 0 auto;
  //background: yellow;
  padding-top: em($header-height);
  z-index: 100;

  &.content_main-page {
    //min-height: em(780px);
  }
}
.footer {
  flex-shrink: 0;
  z-index: 1000;
}

.backgrounds {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 0;

  &.backgrounds_engine {
    &:after {
      opacity: 0.04;
      content: '';
      position: absolute;
      width: em(1000px);
      height: em(800px);
      z-index: -1;
      background: url("../img/engine.gif") no-repeat;
      background-position: center;
      background-size: contain;
      top: em(150px);
      left: 75%;
      display: block;
    }
    &:before {
      opacity: 0.04;
      content: '';
      position: absolute;
      width: em(1000px);
      height: em(800px);
      z-index: -1;
      background: url("../img/engine.gif") no-repeat;
      background-position: center;
      background-size: contain;
      top: em(150px);
      right: 75%;
      display: block;
    }
  }

  &.backgrounds_cars {
    &:before {
      opacity: 0.02;
      content: '';
      position: absolute;
      width: em(634px);
      height: em(308px);
      z-index: -1;
      background: url("../img/car2.png") no-repeat;
      background-position: center;
      background-size: contain;
      top: 50%;
      right: 70%;
      display: block;
    }
    &:after {
      opacity: 0.02;
      content: '';
      position: absolute;
      width: em(569px);
      height: em(703px);
      z-index: -1;
      background: url("../img/car1.png") no-repeat;
      background-position: center;
      background-size: contain;
      top: em(100px);
      left: 70%;
      display: block;
    }
  }
}