.menu {
  padding: em(10px) 0;
  padding-bottom: 0;
  display: flex;
  font-family: Ubuntu;
  align-items: stretch;
  position: relative;
  &__btn {
    padding: 0 em(20px);
    display: flex;
    align-items: center;
    margin-left: em(-20px);
    &:hover {
      transform: scale(0.95);
      cursor: pointer;
    }
  }
  &__btn-img {
    display: none;
    width: em(20px);
    &.active {
      display: flex;
    }
  }
  &__btn-img:not(.active):first-child {
  }

  &__list {
    display: flex;
  }
  &__item {
    $size: 19px;
    font-size: $size;
    padding: em(20px, $size) em(10px, $size);
    position: relative;
    &.active:after, &:hover:after {
      content: '';
      height: 1px;
      position: absolute;
      bottom: em(20px, $size);
      left: em(10px, $size);
      right: em(10px, $size);
      background: $black;
    }
  }
  &__drop {
    position: absolute;
    top: 100%;
    left: 0;
  }
}

.dropmenu {
  box-shadow: 0px 12px 24.6px 2.4px rgba(21, 6, 59, 0.11);
  background-color: #ffffff;
  padding: em(40px) 0;
  position: absolute;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  margin-left: em(-20px);
  transition: margin-left 0.2s ease-out, opacity 0.2s ease-out;
  &.active {
    visibility: visible;
    opacity: 1;
    margin-left: 0;
  }
  &__item-wrap:hover .dropmenu__sub {
    display: block;
    margin-left: 0;
    opacity: 1;
    pointer-events: auto;
  }
  &__item {
    $size: 19px;
    font-size: $size;
    display: block;
    padding: em(10px, $size);
    position: relative;
    padding-left: em(100px, $size);
    padding-right: em(40px, $size);
    &:after {
      content: '';
      height: 2px;
      margin-top: -1px;
      background: #50257c;
      position: absolute;
      transition: width 0.2s ease-out;
      top: 50%;
      left: em(40px, $size);
      width: em(40px, $size);
    }
    &.active {
      color: #50257c;
    }
    &.active:after, &:hover:after {
        width: em(50px, $size);
    }
  }
  &__sub {
    z-index: 50;
    position: absolute;
    top: 0;
    opacity: 0;
    margin-left: em(-20px);
    transition: margin-left 0.2s ease-out, opacity 0.2s ease-out;
    pointer-events: none;
    left: 100%;
    min-height: 100%;
    background: white;
    border-left: 1px solid #e4e4e4;
  }
}

.submenu {
  box-shadow: 12px 9px 20.6px 7.4px rgba(21, 6, 59, 0.06);
  padding: em(40px) 0;
  &__item {
    $size: 19px;
    font-size: $size;
    display: block;
    padding: em(10px, $size);
    position: relative;
    white-space: nowrap;
    padding-left: em(100px, $size);
    padding-right: em(40px, $size);
    &:after {
      content: '';
      height: 2px;
      margin-top: -1px;
      background: #50257c;
      position: absolute;
      transition: width 0.2s ease-out;
      top: 50%;
      left: em(40px, $size);
      width: em(40px, $size);
    }
    &.active {
      color: #50257c;
    }
    &.active:after, &:hover:after {
      width: em(50px, $size);
    }
  }
}