.payment {
  &__title {
    $size: 36px;
    font-size: $size;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: em(30px, $size);
  }
}

.tab {
  margin-top: em(40px);
  display: flex;
  &__nav {
    min-width: em(300px);
  }
  &__item {
    position: relative;
    $size: 23px;
    font-size: em($size);
    padding: em(20px, $size);
    padding-left: em(80px, $size);
    transition: transform 0.2s ease-out;
    &.active {
      $size: 28px;
      color: #50257c;
      font-weight: 500;
      font-size: em($size);
      padding-left: em(80px, $size);
      &:before {
        width: em(65px, $size);
        height: 4px;
        margin-top: -2px;
      }
    }
    &:before {
      content: '';
      width: em(60px, $size);
      height: 2px;
      background: #50257c;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -1px;
    }
    &:hover {
      cursor: pointer;
      transform: translateX(10px);
    }
  }
  &__pages {
    flex-grow: 1;
  }
}


.tab-page {
  font-family: Ubuntu;
  width: 100%;
  display: none;
  height: 100%;
  position: relative;
  background: url("../img/form.png") no-repeat;
  background-size: contain;
  background-position: left center;

  &.active {
    display: block;
  }

  &.tab-page_back2 {
    background-image: url("../img/form2.png");
  }

  &__section {
    z-index: 100;
    margin-bottom: em(20px);
    max-width: 80%;
    &:nth-child(even) {
      margin-left: 20%;
    }
  }
  &__title-wrap {
    display: flex;
    align-items: center;
  }
  &__icon {
  }
  &__icon-img {
    display: block;
    max-width: em(62px);
    max-height: em(62px);
  }
  &__title {
    font-size: em(25px);
    font-weight: bold;
    margin-left: em(20px, 25px);
  }
  &__descr {
    margin-top: em(5px);
  }
}
