.main-page {
  width: 100vw;
  height: 100vh;
  min-height: em(780px);
  position: fixed;
  top: 0;
  left: 0;
  &__container {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
  }
  &:after {
    content: '';
    background: url('../img/main-background.jpg') no-repeat left bottom;
    background-size: cover;
    width: 50vw;
    left: 65%;
    top: 0;
    z-index: 1500;
    position: absolute;
    height: 100vh;
  }
}

.promo {
  max-width: 85%;
  z-index: 2000;
  text-align: center;
  margin: em(100px) 0;
  &__text {
    text-align: left;
    width: 100%;
    font-size: em(50px);
    font-weight: bold;
    text-transform: uppercase;
    hyphens: auto;
    line-height: em(20px);
  }
  &__btn {
    margin-top: em(55px, 25px);
  }
}